<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><u>student info..</u></h1>
	<table border='2px' cellpadding='5px' cellspacing='5px'>
		<tr>
			<th>Batch code</th>
			<th>Name</th>
			<th colspan='2'>Course</th>
		</tr>
		<tr>
			<td rowspan="3">web-A$</td>
			<td>deepali</td>
			<td>web tech</td>
			<td>python</td>
		</tr>
		<tr>
			
			<td>vasu</td>
			<td>web tech</td>
			<td>python</td>
		</tr>
		<tr>
			
			<td>priya</td>
			<td>web tech</td>
			<td>python</td>
		</tr>

	</table>
</body>
</html>